[Desktop Entry]
Comment[en_US]=
Comment=
Exec=holoiso-firstboot-config
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Install Desktop shortcuts
Name=Install Desktop shortcuts
Path=/usr/bin/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=