[Unit]
Description=HoloISO Reboot tracking service
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/holoiso-reboot-tracker

[Install]
WantedBy=multi-user.target
