[Desktop Entry]
Comment[en_US]=
Comment=
Exec=holoiso-desktop-orientation
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Configure OOB screen orientation
Name=Configure OOB screen orientation
Path=/usr/bin/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=